# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
ENV/

# --- Banco de Dados ---
*.duckdb
*.db
# --- Node.js ---
node_modules/
dist/
build/
.env.local

# --- Arquivos do Sistema ---
.DS_Store
.vscode/
